{% extends "base.html" %}
{% block title %}Главная страница Сервиса!{% endblock %}
{% block content %}
{% load user_filters %}

<h1>
    Список загруженных ключей и цен дилеров:
    {% if page_obj.paginator.count == 0 %}
    <a href="{% url 'prices:import_prices' %}" class="btn btn-success">
        Загрузить цены
    </a>
    {% else %}
    <a href="{% url 'prices:delete_prices' %}" class="btn btn-danger">
        Удалить цены и связи
    </a>
    {% endif %}
</h1>
<hr>

<form method="get">
    <div class="form-group row my-3">
        <div class="col-4 mb-2">
            <label class="form-label">Наименование или артикул: </label>
            {{ form.text|addclass:'form-control' }}
        </div>
        <div class="col-2 mb-2">
            <label class="form-label">Статус:</label>
            {{ form.status|addclass:'form-control' }}
        </div>
        <div class="col-2 mb-2">
            <label class="form-label">Дилер:</label>
            {{ form.dealer|addclass:'form-control' }}
        </div>
        <div class="col-2 align-self-end mb-2">
            <div class="justify-content-end">
                <button type="submit" class="btn btn-primary">
                    Подобрать
                </button>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Дилер</th>
            <th scope="col">Артикул</th>
            <th scope="col">Наименование</th>
            <th scope="col">Цена</th>
            <th scope="col">Статус подбора</th>
            <th scope="col">Подобранный продукт</th>
            <th scope="col">Артикул</th>
            <th scope="col">Себестоимость</th>
            <th scope="col">Рек.цена</th>
        </tr>
    </thead>
    <tbody>
        {% for key in page_obj %}
        <tr>
            <td>{{ key.dealer.name }}</td>
            <td>{{ key.key|truncatechars:20 }}</td>
            <td><a href="{% url 'dealers:details' key.id %}">{{ key.name }}</a></td>
            <td>{{ key.last_price }}</td>
            <td>
                {% if key.product_id %}Подтверждено
                {% elif key.declined == 10 %}Не подходит
                {% else %}На проверку
                {% endif %}
            </td>
            <td>{% if key.product_id %}{{ key.product.name_1c }}{% else %}-{% endif %}</td>
            <td>{% if key.product_id %}{{ key.product.article }}{% else %}-{% endif %}</td>
            <td>{% if key.product_id %}{{ key.product.cost }}{% else %}-{% endif %}</td>
            <td>{% if key.product_id %}{{ key.product.recommended_price }}{% else %}-{% endif %}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% include 'includes/pagination.html' %}

{% endblock %}